*{
    padding: 0;
    margin: 0;
}

.bgcol{
    background-color: rgb(115, 207, 24);
    width: 600px;
    height:600px;
}
.container{
    display: flex;
    justify-content: center;

    
}

.divbgcol{
    background-color: antiquewhite;
    width: 350px;
    height: 450px;
    margin-top: 70px;
    border-radius: 1px;
    

}

.input{
    background-color: rgb(204, 221, 221);
    height: 60px;
    width: 239px;
    border-radius: 2px;
    padding-left: 5px;
    align-items: center;
    color:rgb(31, 31, 18);
    display: block;
    margin-left: 47px;
    margin-top: 46px;
    padding-left: 20px;
    
}

.button{
    background-color:rgb(115, 207, 24) ;
    color: antiquewhite;
    height: 60px;
    width: 262px;
    text-align: center;
    align-items: center;
    margin-top: 51px;
    margin-left: 44px;

}

.ptag{
    color: rgb(146, 121, 121);
    margin-top: 20px;
    margin-left: 50px;
}