*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
.container{
    height: 600px;
    width: 1200px;
    background-color: rgb(177 197 197);
}
.table{
    height:400px;
    width: 930px;
    border-radius: 8px;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    padding: 10px;
    table-layout: inherit;
}
.td-padding{
    padding-left: 25px;
}
.td-padding-20{
    padding-left: 25px;
}
tr:hover{
    background-color: rgb(212, 205, 224);
}
tr{
    border-bottom: 1px dotted rgb(168, 159, 159);
    
}
.table-head{
    background-color: #6363d7;
    color: white;
    border: none;
    padding: 10px;
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}